<h2> Recent Girlfriends</h2>

<% @user.each do |u| %>

	<div><%= u.username %></div>
	<div><%=u.email %></div>
	<div><%=u.password %></div>
	<a href="/"></a>
	<% end %>
<br>
<br>

<a href="/posts/new">Create New Post</a>
