<!DOCTYPE html>
<html>
<head>
<title></title>
<body>
<nav>
<li><a href="/">Home</a></li>
<li><a href="/users/index">Recent Girlfriends</a></li>
<li><a href="users/new">Sign Up</a></li>

<h1>Girl Meets Travel</h1>

<h3>Travel With Girlfriends</h3>

</body>