<!DOCTYPE html>
<html>
<head>
<title></title>
<body>

<h1>Girl Meets Travel</h1>
</body>
<br>
<br>
<br>
 <h3>Recent Posts</h3>

<tbody>
    <% @posts.each do |post| %>
      <tr>
      	  
        <td><%= link_to post.title , post%></td>
        
      </tr>
    <% end %>
  </tbody>
</table>